<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <title>Portfolio</title>
</head>
<body>
    <header class="header">
        <section class="header__img">
            <img src="https://i.imgur.com/XGjo6Vf.png" alt="">
        </section>
        <section class="header__name">
            <h3>Manuel Octavio</h3>
            <h1>Cruz Nevarez</h1>
        </section>
    </header>

    <div class="relevantInfo">
        <section class="relevantInfo__skills">
            <section class="relevantInfo__skills-social">
                <section class="relevantInfo__skills-social-mail social__cont">
                    <section>
                        <img src="https://i.imgur.com/UYbPfrQ.png" alt="">
                    </section>
                    <section>
                        <p>correo@correo.correo</p>
                    </section>
                </section>
                <section class="relevantInfo__skills-social-phone social__cont">
                    <section>
                        <img src="https://i.imgur.com/iA6ie0S.png" alt="">
                    </section>
                    <section>
                        <p>6691985365</p>
                    </section>
                </section>
                <section class="relevantInfo__skills-social-location social__cont">
                    <section>
                        <img src="https://i.imgur.com/fpxdNQW.png" alt="">
                    </section>
                    <section>
                        <p>Mazatlan, Sin.</p>
                    </section>
                </section>
            </section>
            <section class="relevantInfo__skills-me">
                <section class="sec__underline">
                    <h2>Quien soy?</h2>
                </section>
                <section>
                    <p>Explicacion de quien soy lo que me gusta y que hago blablalbalbalba</p>
                </section>
            </section>
            <section class="relevantInfo__skills-programs">
                <section class="sec__underline">
                    <h2>Programas</h2>
                </section>
                <section>
                    <section>
                        <p>Photoshop</p>
                    </section>
                    <section>
                        <p>Aillustrator</p>
                    </section>
                    <section>
                        <p>Excel</p>
                    </section>
                    <section>
                        <p>Word</p>
                    </section>
                    <section>
                        <p>Powerpoint</p>
                    </section>
                </section>
            </section>
            <section class="relevantInfo__skills-leng">
                <section class="sec__underline">
                    <h2>Idiomas</h2>
                </section>
                <section>
                    <p>Español</p>
                    <p>Ingles</p>
                </section>
            </section>
        </section>
        <section id="electo" class="relevantInfo__education">
            <section class="relevantInfo__education-title">
                <h1>Educacion</h1>
            </section>
            <!-- <section class="relevantInfo__education-courses">
                <section>
                    <img src="https://i.imgur.com/HGvocoE.png" alt="">
                </section>
                <article>
                    <h3>Conocimiento adquirido</h3>
                    <p>En este curso comprendi blalbalbalbal</p>
                </article>
            </section>
            <section class="relevantInfo__education-courses">
                <section>
                    <img src="" alt="">
                </section>
                <section>
                    <h5></h5>
                    <p></p>
                </section>
            </section>
            <section class="relevantInfo__education-courses">
                <section>
                    <img src="" alt="">
                </section>
                <section>
                    <h5></h5>
                    <p></p>
                </section>
            </section>
            <section class="relevantInfo__education-courses">
                <section>
                    <img src="" alt="">
                </section>
                <section>
                    <h5></h5>
                    <p></p>
                </section>
            </section>
            <section class="relevantInfo__education-courses">
                <section>
                    <img src="" alt="">
                </section>
                <section>
                    <h5></h5>
                    <p></p>
                </section>
            </section>
            <section class="relevantInfo__education-courses">
                <section>
                    <img src="" alt="">
                </section>
                <section>
                    <h5></h5>
                    <p></p>
                </section>
            </section>
            <section class="relevantInfo__education-courses">
                <section>
                    <img src="" alt="">
                </section>
                <section>
                    <h5></h5>
                    <p></p>
                </section>
            </section>
            <section class="relevantInfo__education-courses">
                <section>
                    <img src="" alt="">
                </section>
                <section>
                    <h5></h5>
                    <p></p>
                </section>
            </section> -->
        </section>
    </div>
</body>
<script type="text/javascript">

    // Fundamentos de ingenieria
    var cursoFundIng = ["https://i.imgur.com/HGvocoE.png", "Conocimientos adquiridos", "Curso muy bonito"]

    // Desarrollo web
    var cursoDevWeb = ["https://i.imgur.com/Z0N8QaU.png", "Conocimientos adquiridos", "Curso muy bonito"]

    // Prework Windows
    var cursoPreWin = ["https://i.imgur.com/3HrB91F.png", "Conocimientos adquiridos", "Curso muy bonito"]

    // CSS layoout
    var cursoCssLay = ["https://i.imgur.com/O579oV3.png", "Conocimientos adquiridos", "Curso muy bonito"]

    // Basico JS
    var cursoBasJs = ["https://i.imgur.com/zclUdKp.png", "Conocimientos adquiridos", "Curso muy bonito"]

    // Frontend Dev
    var cursoFronDev = ["https://i.imgur.com/tBMlCtr.png", "Conocimientos adquiridos", "Curso muy bonito"]

    // Git y Github
    var cursoGit = ["https://i.imgur.com/9l95gQz.png", "Conocimientos adquiridos", "Curso muy bonito"]

    // Community manager
    var cursoCM = ["https://i.imgur.com/zflpqyv.png", "Conocimientos adquiridos", "Curso muy bonito"]
    
    // Responsive Design
    var cursoResDes = ["https://i.imgur.com/RKzKdmb.png", "Conocimientos adquiridos", "Curso muy bonito"]

    // Negocios Data Sience
    var cursoNegDS = ["https://i.imgur.com/jBrpBuB.png", "Conocimientos adquiridos", "Curso muy bonito"]
    

    function imprimeCursos(a) {
        document.getElementById('electo').innerHTML += 
    "<section class='relevantInfo__education-courses'>" +
        "<section>" +
            "<img src='" + a[0] + "'>" +
        "</section>"+
        "<article>"+
            "<h3>" + a[1] + "</h3>" +
            "<p>" + a[2] + "</p>" +
        "</article>" +
    "</section>"
    }

    imprimeCursos(cursoFundIng);
    imprimeCursos(cursoDevWeb);
    imprimeCursos(cursoPreWin);
    imprimeCursos(cursoCssLay);
    imprimeCursos(cursoBasJs);
    imprimeCursos(cursoFronDev);
    imprimeCursos(cursoGit);
    imprimeCursos(cursoCM);
    imprimeCursos(cursoResDes);
    imprimeCursos(cursoNegDS);
</script>
</html>