<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Cabin:wght@400;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Volkhov:ital@0;1&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap" rel="stylesheet">
    <title>Portfolio</title>
</head>
<body>
    <header class="header">
        <section class="header__img">
            <img src="https://i.imgur.com/XGjo6Vf.png" alt="">
        </section>
        <section class="header__name">
            <h3>Manuel Octavio</h3>
            <h1>Cruz Nevarez</h1>
        </section>
    </header>

    <div class="relevantInfo">
        <section class="relevantInfo__skills">
            <section class="relevantInfo__skills-social skills__mar">
                <section class="relevantInfo__skills-social-mail social__cont">
                    <section>
                        <img src="https://i.imgur.com/UYbPfrQ.png" alt="">
                    </section>
                    <section>
                        <a href="mailto:mocn2_13@hotmail.com"><p>mocn2_13@hotmail.com</p></a>
                    </section>
                </section>
                <section class="relevantInfo__skills-social-phone social__cont">
                    <section>
                        <img src="https://i.imgur.com/iA6ie0S.png" alt="">
                    </section>
                    <section>
                        <p>6692542592</p>
                    </section>
                </section>
                <section class="relevantInfo__skills-social-location social__cont">
                    <section>
                        <img src="https://i.imgur.com/fpxdNQW.png" alt="">
                    </section>
                    <section>
                        <p>Mazatlan, Sin.</p>
                    </section>
                </section>
            </section>
            <section class="relevantInfo__skills-me skills__mar">
                <section class="sec__underline">
                    <h2>Cursando actualmente</h2>
                </section>
                <section>
                    <a href="https://platzi.com/datos/"><p>Escuela de Data Science</p></a>
                    <a href="https://platzi.com/escuela-javascript/"><p>Escuela de JavaScript
                    </p></a>
                    <a href="https://platzi.com/backend-javascript/"><p>Desarrollo Backend con JavaScript</p></a>
                    <a href="https://platzi.com/base-de-datos/"><p>Bases de Datos desde Cero
                    </p></a>
                    <a href="https://platzi.com/estrategia-marketing/"><p>Marketing Digital y Estrategia Online
                    </p></a>
                    <a href="https://platzi.com/seguridad-informatica/"><p>Seguridad Informática</p></a>
                </section>
            </section>
            <section class="relevantInfo__skills-programs skills__mar">
                <section class="sec__underline">
                    <h2>Programas</h2>
                </section>
                <section>
                    <section>
                        <p>Photoshop</p>
                    </section>
                    <section>
                        <p>Aillustrator</p>
                    </section>
                    <section>
                        <p>Excel</p>
                    </section>
                    <section>
                        <p>Word</p>
                    </section>
                    <section>
                        <p>Powerpoint</p>
                    </section>
                </section>
            </section>
            <section class="relevantInfo__skills-leng skills__mar">
                <section class="sec__underline">
                    <h2>Idiomas</h2>
                </section>
                <section>
                    <p>Español</p>
                    <p>Ingles</p>
                </section>
            </section>
        </section>
        <section id="electo" class="relevantInfo__education">
            <section class="relevantInfo__education-title">
                <h1>Educacion</h1>
            </section>
        </section>
    </div>
</body>
<script type="text/javascript">

    // Fundamentos de ingenieria
    var cursoFundIng = ["https://i.imgur.com/HGvocoE.png", "Computaci&oacute;n, procesadores y memoria", "C&oacute;mo funciona Internet", "Sistemas operativos", "Archivos y estructuras de datos"]

    // Desarrollo web
    var cursoDevWeb = ["https://i.imgur.com/Z0N8QaU.png", "Estructuraci&oacute;n en HTML", "CSS b&aacute;sico", "Responsive design b&aacute;sico", "Herramientas para desarrollo"]

    // Prework Windows
    var cursoPreWin = ["https://i.imgur.com/3HrB91F.png", "Herramientas para la web", "Editor de texto", "Linux dentro de Windows", "Git y Github"]

    // CSS layoout
    var cursoCssLay = ["https://i.imgur.com/O579oV3.png", "Control de alineamiento", "Conceptos generales de CSS Grid", "Propiedades y valores para el elemento padre", "Propiedades y valores para los elementos hijos"]

    // Basico JS
    var cursoBasJs = ["https://i.imgur.com/zclUdKp.png", "Funciones y variabes", "Bases de JavaScript", "Condicionales","Arrays loops y objects"]

    // Frontend Dev
    var cursoFronDev = ["https://i.imgur.com/tBMlCtr.png", "Conceptos iniciales de HTML", "Conceptos iniciales de CSS", "Arquitectura CSS", "Preprocesadores y accesibilidaad"]

    // Git y Github
    var cursoGit = ["https://i.imgur.com/9l95gQz.png","Comandos b&aacute;sicos en Git", "Flujo de trabajo b&aacute;sico en Git", "Trabajando con repositorios remotos en GitHub", "Multiples entornos de trabajo en Git"]

    // Community manager
    var cursoCM = ["https://i.imgur.com/zflpqyv.png", "Anatom&iacute;a de las redes sociales", "Contenidos para redes sociales", "Monitoreo, medici&oacute;n y reporter&iacute;a", "&Eacute;tica y manejo de crisis"]
    
    // Responsive Design
    var cursoResDes = ["https://i.imgur.com/RKzKdmb.png", "Maquetaci&oacute;n", "Implementaci&oacute;n de BEM", "Medidas absolutas y relativas", "Adaptaci&oacute;n para dispositivos m&oacute;viles"]

    // Negocios Data Sience
    var cursoNegDS = ["https://i.imgur.com/jBrpBuB.png", "Data science y machine learning", "Herramientas y roles de trabajo en ciencia de datos", "Problema de negocio: análisis", "Problema de negocio: implementación"]
    

    function imprimeCursos(a) {
        document.getElementById('electo').innerHTML += 
    "<section class='relevantInfo__education-courses'>" +
        "<section>" +
            "<img src='" + a[0] + "'>" +
        "</section>"+
        "<article>"+
            "<h3>Conocimientos adquiridos</h3>" +
            // "<p>" + a[1] + "</p>" +
            "<ul>" + 
                "<li>" + a[1] + "</li>" +
                "<li>" + a[2] + "</li>" + 
                "<li>" + a[3] + "</li>" +
                "<li>" + a[4] + "</li>" + 
            "</ul>" +
        "</article>" +
    "</section>"
    }

    imprimeCursos(cursoFundIng);
    imprimeCursos(cursoDevWeb);
    imprimeCursos(cursoPreWin);
    imprimeCursos(cursoCssLay);
    imprimeCursos(cursoBasJs);
    imprimeCursos(cursoFronDev);
    imprimeCursos(cursoGit);
    imprimeCursos(cursoCM);
    imprimeCursos(cursoResDes);
    imprimeCursos(cursoNegDS);
</script>
</html>